/* fonts */
@font-face {
  font-family: 'amblelight';
  src: url('Amble-Light-webfont.eot');
  src: url('Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('Amble-Light-webfont.woff2') format('woff2'),
       url('Amble-Light-webfont.woff') format('woff'),
       url('Amble-Light-webfont.ttf') format('truetype'),
       url('Amble-Light-webfont.svg#amblelight') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* éléments principaux de la page */
*
{
  font-family: 'amblelight', 'Trebuchet MS', Verdana, sans-serif;
}

h3, p
{
  font-size: 0.8em;
}

body
{
  background-color: #282728;
}

/* propriétés du header */
header
{
    display: flex;
    justify-content: center;
    width: 950px;
    margin: 20px auto auto auto;
}

#photo
{
  text-align: center;
  background-color: #feca07;
  color: #ffffff;
  width: 250px;
}

#photo img
{
  border: 3.5px solid rgba(64, 64, 64, 0.2);
  border-radius: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#me
{
  background-color: #ffffff;
  color: #404040;
  width: 700px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

#me h1
{
  color: #feca07;
  font-size: 2.3em;
  
}

#me h2
{
  
  font-size: 1.5em;
}

.name
{
  color: #404040;
  font-weight: lighter;
}

.border
{
  border-bottom: 1px solid #feca07;
  margin-right: 0px;
}

/* éléments généraux "main" */
main
{
  display: flex;
  width: 950px;
  margin: auto;
}

/* éléments "aside" de la page */

aside
{
  background-color: #feca07;
  width: 250px;
}

aside p
{
  text-align: left;
  padding: 3px 15px 3px 15px ;
  color: #404040;
}

.title_left
{
  background-color: #404040;
  color: #feca07;
  height: 33px;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#contact
{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
}

#about
{
  padding: 20px 10px 160px 10px;
}

#leisure
{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

a
{
	color: #404040;
}

a:hover 
{
	color: darkred;
}

/* éléments "section" de la page */

section
{
  background-color: #ffffff;
  color: #404040;
  width: 700px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.title_right
{ font-size: 0.8em;
  font-weight: bold;
  height: 45px;
  border-bottom: 1px solid #feca07;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.cursus
{
  display: flex;
	justify-content: space-between;
}

.company
{
  width: 80%;

}

.company h3
{
  font-size: 1em;
  font-weight: bold;
}

span p
{
  font-weight: bold;
}

#recommendation
{
  display: flex;
  justify-content: space-around;
}

/*  éléments du footer */
footer
{
  display: flex;
  justify-content: center;
  background-color: #282728;
  width: 950px;
  height: 20px;
  margin: auto;
}

/* éléments font-awesome */
span
{
  margin-right: 10px;
}

.icon
{
  display: flex;
	flex-direction: row;
  align-items: baseline;
  font-weight: bold;
}

.icon_title
{
  font-size: 1.5em; 
  color: #feca07;
}

.icon_leisure
{
  margin-right: 0px;
  width: 45px;
  height: 45px;
  font-size: 1.9em;
  color: #404040;
  border: 2px solid #404040;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle
{
  font-size: 0.6em; 
  color: #feca07;
}

.dot_circle
{
  font-size: 0.8em; 
  color: #feca07;
}

/* règles au format responsive avec les media queries */
@media all and (max-width: 1000px)
{
  body
  {
    background-color: #ffffff;
  }

  header
  {
    width: auto;
    margin: auto;
    flex-direction: column;
  }

  h2
  {
    font-size: 1.3em;
    height: auto;
  }

  #photo img
{
  margin-bottom: 1em;
}

  #photo:nth-child(1)
  {
    order: 2;
    width: auto;
    padding-bottom: 10px;
  }

  #me:nth-child(2)
  {
    order: 1;
    width: auto;
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
  }

  main
  {
    flex-direction: column;
    width: auto;
    margin: auto;
  }

  aside
  {
    width: auto;
    margin: auto;
  }

  #about, #contact
  {
    padding-bottom: 10px;
    padding-top : 10px;
  }

  #contact p
  {
    text-align: center;
  }

  #leisure
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  section
  {
    width: auto;
    margin: auto;
    padding: 15px;
  }

  .title_right
  {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  .cursus
  {
    flex-direction: column;
    justify-content: space-between;
  }

  .company
  {
    width: auto;
  }

  span p
{
  font-size: 0.8em;
  font-weight: bold;
}
  
  #recommendation
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

  footer
  {
    width: auto;
    margin: auto;
    background-color: #ffffff;
  }
}
